<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>KGSBrowse LAS file loader</h1>
                        <h2>Loads Log ASCII Standard v 1.2 and 2 files.</h2>
                    </hgroup>
                    <p>
                        Press the button to select a file and load it.
                    </p>
                    @using (Html.BeginForm("Uploadfiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <label for="file">Filename:</label>
                        <input type="file" name="file" id="file" />
                        <input type="submit" name="submit" value="Submit" />
                    }
                </div>
            </section>
    </div>

</body>
</html>
